* {
  box-sizing: border-box;
}
:root {
  --main-font-size: 24px;
  --head-font-size: 42px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
/*  */
.country-list {
  list-style: none;
}
.country-item {
  display: flex;
  align-items: center;
}
.country-name,
.description-name,
.description-text {
  margin-left: 10px;
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 1.15;
}
.country-name,
.description-name {
  font-weight: 700;
}
.accent {
  font-size: var(--head-font-size);
}

/* .country-name {
  cursor: pointer;
}

.country-name:hover {
  color: blue;
} */
